
@font-face{

    font-family: 'Playfair Display';
    
    src: url('../fonts/playfair/PlayfairDisplay-Regular.otf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
@font-face{

    font-family: 'Ubuntu';
    
    src: url('../fonts/ubuntu/ubuntu-L.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }

* {
    margin: 0;
    padding: o;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #626262;
    line-height: 24px;
}


.main-content, .main-nav {
    width: 900px;
    margin: auto;
}

.main-menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;  
    vertical-align: middle;    
    line-height: 160px;
}

.main-menu-item {
    display: inline-block;
    list-style: none;
}

.main-menu-item:not(:last-child) {
    margin-right: 100px;
}

/* * {
    outline: 1px solid red;
} */
.main-menu-link {
    text-decoration: none; 
    font-size: 14px;
    text-transform: uppercase;
}

.blue {
    color: #03a9f4;
}


.main-content {
    padding-top: 30px;  
}

.article-list-item {
    box-sizing: border-box;
    display: inline-block;
    width: 420px;
    /* margin: 65px 29px; */
    list-style: none;
}

.article-list-item:not(:nth-child(2n)) {
    margin-right: 56px;
}

.article-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 135px;
}

.article-list-item h2 {
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0 18px 0;
}

.article-list-item h3 {
    font-size: 30px;
    margin: 23px 0 33px 0;
}

.article-list-item p {
    font-size: 14px;
    height: 66px;
    overflow: hidden;
}

.article-list-item {
    widht: 480px;
    background: #fff;
    box-sizing: border-box;
}

.article-button {
    background-color: #fff;
    text-align: center;
    line-height: 170px;
}

.my {
    width: 167px;
    height: 63px;
    border: 1px solid #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    line-height: 24px;
}
