
@font-face{

    font-family: 'Playfair Display';
    
    src: url('../fonts/playfair/PlayfairDisplay-Regular.otf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
@font-face{

    font-family: 'Ubuntu';
    
    src: url('../fonts/ubuntu/ubuntu-L.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }

* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #626262;
    line-height: 24px;
}


.main-content, .main-nav {
    width: 900px;
    margin: auto;
}

.main-nav {
    padding: 70px 0 65px 0;
}

.main-menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;  
    vertical-align: middle;    
}

.main-menu-item {
    display: inline-block;
    list-style: none;
}

.main-menu-item:hover a{
    color: #03a9f4;
}

.main-menu-item:not(:last-child) {
    margin-right: 100px;
}

/* * {
    outline: 1px solid red;
} */
.main-menu-link {
    text-decoration: none; 
    font-size: 14px;
    text-transform: uppercase;
}

main {
    padding-top: 30px;  
}

.article-list-item {
    box-sizing: border-box;
    display: inline-block;
    width: 420px;
    /* margin: 65px 29px; */
    list-style: none;
}

.article-list-item:not(:nth-child(2n)) {
    margin-right: 56px;
}

.article-list:not(:last-child) {
    margin-bottom: 130px;
}


.article-img {
    width: 420px;
    height: 280px;
}

.article-list-item h2 {
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 25px;
}

.article-list-item h3 {
    font-size: 30px;
    margin: 22px 0 35px 0;
}

.article-list-item p {
    font-size: 14px;
    height: 66px;
    overflow: hidden;
}

.article-button {
    background-color: #fff;
    text-align: center;
    padding: 55px 0;
}

.my {
    width: 167px;
    padding: 17px 0;
    border: 1px solid #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
