@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Black.ttf');
 }
@font-face{
    font-family: 'Roboto1';     
    src: url('../fonts/roboto/Roboto-Regular.ttf');
} 
@font-face{
    font-family: 'Roboto_T';     
    src: url('../fonts/roboto/Roboto-Thin.ttf');
}       
@font-face{
    font-family: 'OpenSans_B';     
    src: url('../fonts/opensans/OpenSans-Bold.ttf');
} 
@font-face{
    font-family: 'OpenSans_S';     
    src: url('../fonts/opensans/OOpenSans-SemiBold.ttf');
}    

@font-face{
    font-family: 'OpenSans_R';     
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
}    
@font-face{
    font-family: 'OpenSans_L';     
    src: url('../fonts/opensans/OpenSans-Light.ttf');
}    


* {
    margin: 0;
    padding: o;
    /* outline: 2px solid red; */
}
.clearfix {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    height: 93px;
    position: relative;
}
.nav {
  
}

.logo {
    position: absolute;
    left: 243px;
    top: 36px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none; 
    font-family: 'Roboto_T';
    font-weight: bold;
    color: black;
}

.header-menu {
    position: absolute;
    right: 243px;
    top: 40px;
    list-style: none;
    width: 500px;
    text-align: right;
}
.header-menu-item {
    display: inline-block;
    text-align: right;   
    margin-left: 27px;
}

/* .header-menu-item:not(:first-child) {
    margin-left: 30px;
} */

/* :not(:nth-last-child(-n+4)) 
.header-menu li:nth-child(n+3) a {*/

.header-menu a {
    text-decoration: none; 
    color: rgb(81, 81, 81);
    font-size: 14px;
    font-family: "OpenSans_B";
    text-transform: uppercase;
    line-height: 0.786;
}

.header-menu li:first-child a {
    color: #1abc9c;
}

.slide-wrap {
    width: 1600px;
    height: 600px;
    background-color: #e9608d;
}


.collection {
    background-color: #e9f0fd;
    width: 1600px;
    height: 680px;
}

.section_title {
    font-size: 48px;
    /* line-height: 32px; */
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 96px;;
    text-align: center;
    padding: 71px 0 80px 0;
    letter-spacing: -1px;
    /* margin-bottom: 87px; */
}


.section_title::after {
    content: "";
    display: block;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
}

.collection-wrap {
    /* position: absolute; */
    left: 50px;
}

.collection-list {
    /* position: absolute; */

    list-style: none;
    box-sizing: border-box;
    padding-left: 245px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;
}
 
.collection-list-item {
    position: relative;
    width: 256px;
    /* outline: 2px solid red; */
    float: left;
    height: 283px;
    background-color: #fff;
}
.collection-list-item:hover >.collection-title  {
    background-color: #1abc9c;
}

.collection-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.collection-list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.icons {
    position: absolute;
    left: 10px;
    top: 12px;
    background-color: #323232;
    opacity: 0.5;
    width: 235px;
    height: 261px;
}

.collection-title {
    position: relative;
    background-color: #323232;
    width: 255px;
    height: 40px;
    font-size: 18px;
    font-family: "Roboto1";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 40px;
  
}
.collection-title p {
    /* font-family: "Roboto1"; */
    height: 40px;
    padding-left: 14px;
}
.collection-title span {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255, 0.439);
    width: 55px;
    height: 40px;
    text-align: center;
    z-index: 5;
}
.green {
    color: #1abc9c;
    font-family: 'Roboto';
}

.rights {
    background-color: #323232;
    height: 88px;
    line-height: 88px;
    font-size: 16px;
    font-family: "OpenSans_L";
    color: rgb(254, 254, 254);
    text-align: center;
}
.rights span {
    color: #1abc9c;
}



/* 
.news-button {
    text-align: center;
    width: 160px;
    height: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
    border-radius: 3px;
    background-color: rgb(78, 198, 171);    
    font-size: 16px;
    font-family: "OpenSans_L";
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
} */