
@font-face{

    font-family: 'Playfair Display';
    
    src: url('../fonts/playfair/PlayfairDisplay-Regular.otf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
@font-face{

    font-family: 'Ubuntu';
    
    src: url('../fonts/ubuntu/ubuntu-L.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }

* {
    margin: 0;
    padding: o;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #626262;
    line-height: 24px;
}

